.content {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.contentTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.contentTitle {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  font-size: 35px;
  text-transform: uppercase;
  align-self: center;
  padding: 0;
}

.info {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.content-radio {
  display: flex;
  margin: 20px 0 20px 0;
  height: 100px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.label-radio {
  height: 100px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* text-decoration: none; */
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  font-size: 20px;

  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 0 #e4e4e4;
  border: 1px solid #b7b7b7;
}

.item-radio-selected {
  background-color: var(--color-orange);
  color: #fff;
  box-shadow: 0 4px 0 var(--color-orange-shadow);
  border-color: var(--color-orange);
}

/* -------------------- Coordonnées  -------------------- */

.inputMail {
  font-size: 20px;
  width: 400px;
  margin-left: 20px;
  padding: 0 10px 0 10px;
  font-weight: bold;
}

.inputCdg {
  color: black;
  font-family: "Oswald", sans-serif;
  padding: 20px;
}

/* -------------------- ContentLocation  -------------------- */

.inputCountry {
  font-size: 20px;
  width: 300px;
  margin-left: 20px;
  padding: 0 10px 0 10px;
  font-weight: bold;
}

.inputCity {
  font-size: 20px;
  width: 300px;
  margin-left: 20px;
  padding: 0 10px 0 10px;
  font-weight: bold;
}

.autocomplete {
  position: relative;
}

.autocomplete-list {
  position: absolute;
  z-index: 3;
  top: 34px;
  left: 20px;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  height: 100px;
  padding: 0 10px 0 10px;
  overflow: auto;
  cursor: pointer;
  color: black;
}

.autocomplete-item:hover {
  color: var(--color-orange);
  font-weight: bold;
}

.content-description {
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  color: black;
  font-family: "Oswald", sans-serif;
  line-height: 24px;
}

#loadingRound {
  width: 50;
  height: 50;
}

/* -------------------- ContentBudget  -------------------- */
.inputNum {
  font-size: 20px;
  width: 250px;
  margin-left: 20px;
  padding-right: 10px;
  font-weight: bold;
  text-align: right;
  box-shadow: 0 3px 0 #ffb14d;
  border-color: #ff9e23;
  border-radius: 5px;
  text-decoration: none;
}

.euro {
  font-size: 20px;
  margin-left: 10px;
}
