/* -------------------- PageContent  -------------------- */
.content {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  flex: 1;
}

.contentTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.contentTitle {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  font-size: 35px;
  text-transform: uppercase;
  align-self: center;
  padding: 0;
}

.info {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.content-radio {
  display: flex;
  margin: 20px 0 20px 0;
  height: 100px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.label-radio {
  height: 100px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 0 #e4e4e4;
  border: 1px solid #b7b7b7;
}

.item-radio-selected {
  background-color: var(--color-orange);
  color: #fff;
  box-shadow: 0 4px 0 var(--color-orange-shadow);
  border-color: var(--color-orange);
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .content {
    align-items: stretch;
  }

  .content-radio {
    flex-direction: column;
    flex: 1;
  }
  .label-radio {
    width: 100%;
    margin-bottom: 15px;
    line-height: 48px;
    height: 50px;
    background-color: blue;
    justify-content: start;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .contentTitle {
    font-size: 22px;
  }
  .info {
    margin-left: 10px;
  }
}

/* -------------------- Coordonnées  -------------------- */

.containerMail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputMail {
  font-size: 20px;
  width: 300px;
  padding: 0 10px 0 10px;
  font-weight: bold;
  margin-right: 20px;
  line-height: 30px;
  background-color: white; /* pour safari  */
}

.inputCdg {
  color: black;
  font-family: "Oswald", sans-serif;
  padding: 20px;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .containerMail {
    width: 100%;
  }
  .inputMail {
    flex: 1;
    font-size: 16px;
  }

  .inputCdg {
    font-size: 12px;
  }
}

/* -------------------- ContentLocation  -------------------- */

.inputCountry {
  font-size: 20px;
  width: 300px;
  margin-left: 20px;
  padding: 0 10px 0 10px;
  font-weight: bold;
  line-height: 30px;
}

.inputCity {
  font-size: 20px;
  width: 300px;
  margin-left: 20px;
  padding: 0 10px 0 10px;
  font-weight: bold;
  line-height: 30px;
}

.autocomplete {
  position: relative;
}

.autocomplete-list {
  position: absolute;
  z-index: 3;
  top: 34px;
  left: 20px;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  height: 100px;
  padding: 0 10px 0 10px;
  overflow: auto;
  cursor: pointer;
  color: black;
}

.autocomplete-item:hover {
  color: var(--color-orange);
  font-weight: bold;
}

.content-description {
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  color: black;
  font-family: "Oswald", sans-serif;
  line-height: 24px;
}
.loadingBox {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
}

.loadingRound {
  height: 50px;
  width: 50px;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .inputCountry {
    background-color: white;
    margin-left: 0;
    width: 100%;
  }

  .inputCity {
    border: solid 1px;
    margin: 0;
    width: 275px;
  }
}

/* -------------------- ContentBudget  -------------------- */
.inputNum {
  font-size: 20px;
  width: 250px;
  margin-left: 20px;
  padding-right: 10px;
  font-weight: bold;
  text-align: right;
  box-shadow: 0 3px 0 #ffb14d;
  border-color: #ff9e23;
  border-radius: 5px;
  text-decoration: none;
}

.euro {
  font-size: 20px;
  margin-left: 10px;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .inputNum {
    margin-left: 0;
  }
}
