/* -------------------- IMPORT -------------------- */

@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

/* -------------------- GLOBAL RULE -------------------- */

body {
  font-family: "Oswald", sans-serif;
}

:root {
  --color-orange: #ff9e23;
  --color-orange-shadow: #e57f00;
  --color-orange-border: #ffdfb1;
}

.pad-tb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper {
  margin-left: 100px;
  margin-right: 100px;
  /* background-color: red; */
}

.ml-15 {
  margin-left: 15px;
}

.white {
  color: white;
}

.df-col {
  display: flex;
  flex-direction: column;
}

.rowInput {
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  color: black;
  font-family: "Oswald", sans-serif;
  align-items: center;
  height: 60px;
}

.rowGrey {
  background-color: #f1f1f1;
}

.error {
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.error-show {
  color: red;
}

.error-hide {
  color: white;
}

/* -------------------- HEADER  -------------------- */

.head {
  height: 110px;
  border-bottom: 1px solid #f0f0f0;
}

.logo {
  width: 300px;
}

header p {
  margin-top: 5px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}

/* -------------------- CONTENT  -------------------- */

.loading {
  font-size: 30px;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

section {
  color: var(--color-orange);
}

.labelInput {
  font-size: 20px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

/* -------------------- FOOTER  -------------------- */

footer span {
  font-size: 13px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.mention {
  text-decoration: underline;
}

/* -------------------- CONTACT  -------------------- */
.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.contactBody {
  display: flex;
  margin: 20px 50px 20px 50px;
  justify-content: space-between;
  height: 200px;
}

.infoDevis {
  color: white;
  background-color: var(--color-orange);
  margin-right: 60px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  display: flex;
  align-items: center;
  padding: 40px;
  line-height: 35px;
  text-align: center;
}

.logoContact {
  width: 600px;
  border-left: 20px;
}
