/* -------------------- IMPORT -------------------- */

@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

/* -------------------- GLOBAL RULE -------------------- */

:root {
  --color-orange: #ff9e23;
  --color-orange-shadow: #e57f00;
}

.pad-tb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper {
  margin-left: 70px;
  margin-right: 70px;
  /* background-color: red; */
}

.ml-15 {
  margin-left: 15px;
}

.white {
  color: white;
}
/* -------------------- HEADER  -------------------- */

.head {
  height: 110px;
  border-bottom: 1px solid #f0f0f0;
}

.logo {
  width: 300px;
}

header p {
  margin-top: 5px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}

/* -------------------- CONTENT  -------------------- */

.loading {
  font-size: 30px;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

section {
  color: var(--color-orange);
}

/* pour debug  */
section h2 {
  font-size: 35px;
}

/* -------------------- FOOTER  -------------------- */

footer span {
  font-size: 13px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.mention {
  text-decoration: underline;
}
