/* -------------------- IMPORT -------------------- */

@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

/* -------------------- GLOBAL RULE -------------------- */

body {
  font-family: "Oswald", sans-serif;
}

:root {
  --color-orange: #ff9e23;
  --color-orange-shadow: #e57f00;
  --color-orange-border: #ffdfb1;
}

.pad-tb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper {
  margin-left: 100px;
  margin-right: 100px;
}

.ml-15 {
  margin-left: 15px;
}

.white {
  color: white;
}

.df-sb {
  display: flex;
  justify-content: space-between;
}

.df-col {
  display: flex;
  flex-direction: column;
}

.rowInput {
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  color: black;
  font-family: "Oswald", sans-serif;
  align-items: center;
  height: 60px;
}

.amount {
  display: flex;
  align-items: center;
  width: 100%;
}

.rowGrey {
  background-color: #f1f1f1;
}

.error {
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 16px;
}

.error-show {
  color: red;
}

.error-hide {
  color: white;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .rowInput {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100px;
  }

  .pad-tb30 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .rowMobile {
    height: 60px;
  }
}

/* -------------------- HEADER  -------------------- */

.head {
  height: 110px;
  border-bottom: 1px solid #f0f0f0;
}

.logo {
  width: 300px;
  cursor: pointer;
}

header p {
  margin-top: 5px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}

.headerLeft {
  width: 400px;
}

.orange-btn {
  color: white;
  width: 150px;
  background-color: var(--color-orange);
  border-radius: 50px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  header p {
    display: none;
  }
  .df-sb {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerLeft {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .wrapper {
    margin-left: 30px;
    margin-right: 30px;
  }
  .ml-15 {
    margin-left: 0px;
  }

  .orange-btn {
    width: 120px;
    line-height: 30px;
    font-size: 16px;
  }
}

/* -------------------- CONTENT  -------------------- */

.loading {
  font-size: 30px;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

section {
  color: var(--color-orange);
}

.labelInput {
  font-size: 20px;
  width: calc(45% - 20px);
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .labelInput {
    font-size: 16px;
    width: 100%;
    padding-right: 0px;
    padding-bottom: 10px;
  }
}

/* -------------------- FOOTER  -------------------- */

footer {
  height: 80px;
}

footer span {
  font-size: 13px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.mention {
  text-decoration: underline;
}

/* -------------------- CONTACT  -------------------- */
.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.contactBody {
  display: flex;
  margin: 20px 0 20px 0;
  justify-content: space-between;
  height: 200px;
  align-items: stretch;
}

.infoDevis {
  color: white;
  background-color: var(--color-orange);
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  display: flex;
  align-items: center;
  padding: 40px;
  line-height: 35px;
  text-align: center;
  max-width: 300px;
  min-width: 215px;
  overflow: hidden;
}

.logoContact {
  object-fit: cover;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .contactBody {
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin: 10px 0 10px 0;
  }
  .infoDevis {
    width: 100%;
    font-size: 16px;
    height: 100px;
    padding: 0px;
    line-height: 30px;
  }
  .contact {
    margin-bottom: 0;
  }
}

/* -------------------- Conforming  -------------------- */

.textConfirm {
  color: black;
  font-family: "Oswald", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

.numDossier {
  font-weight: bold;
}

/* -------------------- Login BackOffice  -------------------- */

.formConnect {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.connexion {
  color: black;
  font-family: "Oswald", sans-serif;
  border-bottom: 3px solid #f56b2a;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.signInput {
  padding-bottom: 20px;
  padding-top: 20px;
}

.signInput p {
  color: black;
  font-family: "Oswald", sans-serif;
  padding-bottom: 20px;
}

.inputPassword {
  width: 400px;
  height: 35px;
}

.flexBtn {
  margin-top: 30px;
  width: 100%;
}

.signBtn {
  color: white;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  background-color: #4183d7;
  font-size: 20px;
  height: 40px;
  width: 100%;
}

/* -------------------- BackOffice  -------------------- */
.headerSynthese {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  color: white;
  margin: 20px 50px 20px 50px;
  padding: 0 30px;
  height: 40px;
  border-radius: 8px;
  background-color: #1976d2;
}

.containerSynthese {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  height: 40px;
}

.removeButton {
  cursor: pointer;
}

.rowSynthese {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  color: black;
}

.bloclinkDevis {
  flex: 1;
  padding: 0 30px;
  margin-right: 50px;
  margin-left: 10px;
}
.linkDevis {
  text-decoration: none;
  width: 100%;
}

.size1 {
  width: 100px;
  text-align: center;
}

.size2 {
  width: 200px;
  text-align: center;
}

.rowGrey {
  background-color: rgb(215, 222, 226);
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .containerSynthese {
    flex-direction: column;
    width: 100%;
  }

  .rowSynthese {
    flex-direction: column;
    width: 100%;
  }
  .headerSynthese {
    flex-direction: column;
    flex: 1;
    padding: 10px;
  }
  .headerSynthese span {
    padding: 5px;
  }

  .bloclinkDevis {
    flex: 1 1;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: flex-start;
    width: 100%;
  }

  .size1,
  .size2 {
    width: 100%;
    text-align: left;
  }

  .containerSynthese {
    height: auto;
  }
}
